<div class="col-xs-6 col-md-4 panel panel-info category">
	<div class="panel-heading ">
		<h3 class="panel-title ">Select a category</h3>
	</div>
	<div class="panel-body ">
		<div class="category-box list-group ">
			<button type="button " class="list-group-item category-item" ng-click="changeCategoryID()" ng-class="{active: all_index == selected}">All Items</button>
			<button type="button " class="list-group-item category-item" ng-click="viewMyItems()" ng-class="{active: my_index == selected}">My Items</button>
			<button ng-repeat="category in categories" type="button" class="list-group-item category-item" ng-click="changeCategoryID(category.id, $index)" ng-class="{active: $index == selected}">
				{{category.name}}
			</button>
		</div>
	</div>
</div>
