<div class="signin">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <google-plus-signin clientid="600120679756-8md2l1b36ha6qa349u2uvhl1nrejs8k9.apps.googleusercontent.com" autorender="false" customtargetid="my-custom-element">
        <button id="my-custom-element" class="btn btn-block btn-social btn-google" ng-disabled="isDisabled"><i class="fa fa-google"></i>Sign in with Google Plus</button>
      </google-plus-signin>
    </li>
    <li>
      <button class="btn btn-block btn-social btn-facebook" ng-disabled="isDisabled" ng-click="logToFacebook()"><i class="fa fa-facebook"></i>Sign in with Facebook</button>
    </li>
    </a>
    </li>
  </ul>
</div>
