<html>
    <body>
        <h1>{{restaurant.name}}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        
        <ul>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        <form action="{{url_for('showMenuItems', restaurant_id=restaurant.id )}}" method = 'GET'>

            <a href='{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>New Menu Item</a></br>

            {% for i in items %}

                <div>

                    <p>{{i.id}}</br>{{i.name}}</br>{{i.description}}</br>{{i.price}}</br>{{i.course}}</br></br>
                        <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a></br>
                        <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Delete</a>
                    </p>
                    </br>

                </div>

            {% endfor %}

            {% if items == "" %}
                <p>There are no menu items to show</p>
            {% endif %}

            <a href='{{url_for('showRestaurants') }}'>Restaurant List</a>
        </form>
    </body>
</html>