<!DOCTYPE html>
<html>
<head>
  <title>Restauranterator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
</head>
<body>

<div class="container">
  
<div class="row">
  <h1>Restauranterator</h1>
</div>
<div class="row">
  <div class="col-xs-offset-10 col-xs-2">
    {% if 'username' not in session %}
      <a href="{{ url_for('show_login') }}">Login</a>      
    {% else %}
      <a href="{{ url_for('disconnect') }}">Logout</a>
    {% endif %}
  </div>
</div>
<br>
<hr class="heading-rule">
<br>

  {% block content %}
  {% endblock %}

</div>
</body>
</html>