<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <title>Login</title>
</head>
<body>

<div id="signinButton">
  <span class="g-signin"
    data-scope="openid email"
    data-clientid="779236190344-g6d37sej59pvp08o44j4c500dbiaa70l.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback"
    data-approvalprompt="force">      
  </span>    
</div>
<div id="result"></div>

<script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the client has been authorized
      $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server; if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page.
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        contentType: 'application/octet-stream; charset=utf-8',
        data: authResult['code'],
        success: function(result) {
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
              window.location.href = '/restaurants';
            }, 4000);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          }else {
            $('#result').html('Failed to make a server side call. Check your configuration and console.');
            }
        }
      });
    }
  }
</script>

</body>
</html>