<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <title>Login</title>
</head>
<body>

<div id="signInButton">
  <span class="g-signin"
    data-scope="openid email"
    data-clientid="779236190344-g6d37sej59pvp08o44j4c500dbiaa70l.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback"
    data-approvalprompt="force">      
  </span>    
</div>

</body>
</html>