{% extends "restaurant_base.html" %}

{% block content %}
<br>
<hr class="heading-rule">
<br>
  <div class="row">
    <div class="col-xs-3">
      <a class="button col-xs-3 center" href="{{ url_for('new_menu_item', restaurant_id=restaurant.id)}}"> Create New Item </a>
    </div>
    <div class="col-xs-3">
      <a class="button col-xs-3 center" href="{{ url_for('edit_restaurant', restaurant_id=restaurant.id) }}"> Edit Restaurant </a>      
    </div>
    <div class="col-xs-3 center">
      <a class="button col-xs-3 center" href="{{ url_for('delete_restaurant', restaurant_id=restaurant.id) }}"> Delete Restaurant </a>      
    </div>
  </div>
  {% if not items %}
    <h2>There are no menu items!</h2>
  {% else %}
    <div class="row">
      <h2 class="col-xs-12 center">Menu</h2>
    </div>
    <div class="row">
      <hr class="col-xs-8 col-xs-offset-2 subtitle-heading">      
    </div>
    <div class="row">
    {% for item in items %}
      <div class="col-md-6 col-xs-12">
        <p class="item-name"><b>{{item.name}}</b> - {{item.price}}</p>
        <p class="description">{{item.description}}</p>
        <p><a href="{{ url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=item.id) }}">Edit</a> | <a href="{{ url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=item.id) }}">Delete</a></p>
        <br>
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}