{% extends "all_base.html" %}

{% block content %}
  <h2>New Restaurant</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <strong class="error important"> {{message}} </strong>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="{{ url_for('new_restaurant') }}" method="POST">
    <div class="row">
      <label class="col-xs-1">Name:</label>
      <input class="col-xs-3" type="text" name="name" size='30' placeholder="Pizza Palace!">
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">
        <a class="button col-xs-3 center" href="{{ url_for('all_restaurants') }}">Cancel</a>
      </div>
      <div class="col-xs-3">
        <input class="button col-xs-3" type="submit" value="Create" name="Submit">
      </div>
    </div>
  </form>
<br>
<hr>
<br>
<a href="{{ url_for('all_restaurants') }}">See all of our affiliated restaurants!</a>
</div>
{% endblock %}