<!DOCTYPE html>
<html>
<head>
  <title>New Menu Item</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
</head>
<body>
  <h1>New Menu Item</h1>
  <form action="{{ url_for('new_menu_item', restaurant_id=restaurant_id)}}" method="POST">
      <p>Name:</p>
        <input type="text" name="name" size='30'>
        <input type="submit" value="Create" name="Submit">
  </form>
</body>
</html>