<!DOCTYPE html>
<html>
<head>
  <title>New Menu Item</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
</head>
<body>
  <h1>New Menu Item</h1>
  <form action="{{ url_for('new_menu_item', restaurant_id=restaurant_id)}}" method="POST">
    <div class="row">
      <label>Name:</label>
        <input class="col-sm-3" type="text" name="name" size='30' placeholder="Pizza!">
      <label>Description:</label>
        <input class='col-sm-3' type="text" name="description" size='30' placeholder="The best food.">
      <label>Price:</label>
        <input class="col-sm-3" type="text" name="price" size='30' placeholder="$13">
      <label>Course:</label>
        <input class="col-sm-3" type="text" name="course" size='30' placeholder="Dinner">
    </div>
    <div class="row">
      <a class="button center col-xs-3" href="{{ url_for('restaurant_menu', restaurant_id = restaurant_id) }}">Cancel</a>
      <input class="button center col-xs-3" type="submit" value="Create" name="Submit">
    </div>
    <br>
  </form>
</body>
</html>