{% extends "all_base.html" %}
{% block content %}
<div class="row">
  <h2 class="col-xs-12 center">Our Affiliated Restaurants</h2>
</div>
<div class="row">
  <hr class="col-xs-8 col-xs-offset-2 subtitle-heading">

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for restaurant in restaurants %}
		<a href = "{{url_for('restaurant_menu', restaurant_id = restaurant.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 restaurant-list">
						<h3>{{restaurant.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
