<style type="text/css">
	body
	{
		font-family: sans-serif;
    	background-image: url('img3.jpg');
    	background-color: #333333
	}
	div.main{
		font-family: sans-serif;
    	background-image: url('img3.jpg');
    	background-color: #333333
	}
	a{

	}

</style>