{% extends "index.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <form action="" method=post class="form-horizontal">
    <h2>Sign up for FlaskLogin(Todo) Application </h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="text" id="fullname" name="fullname" class="input-large"
            placeholder="Name" value="{{ request.form.fullname }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="boolean" id="can_edit" name="can_edit" class="input-checkbox"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}
