{% extends "index.html" %}
{% block title %}Customer List{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<table class="table">
    <tr>
        <th>Account Name</th>
        <th>Customer Name</th>
        <th>Customer Note</th>
        <th>Renewal Date</th>
                <th>CC Group</th>
    </tr>
{% for customer in result %}
<tr>

    <td> {{ customer.account_name }} </td>
    <td> {{ customer.customer_name }} </td>
    <td> {{ customer.CustomerNote }} </td>
    <td> {{ customer.renewal_date }} </td>
        <td> {{ customer.CCGroup }} </td>
    </tr>
{% endfor %}
</table>
{% macro render_pagination(pagination, endpoint) %}
  <div class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endmacro %}
{% endblock %}
