{% extends "index.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('edit_user',user_id=form.user_id) }}" method="POST">
Username: {{ form.username }}
Fullname: {{ form.fullname }}
Email: {{ form.email }}
Password: {{ form.password }}
Can Edit: {{ form.can_edit }}
Edit Customer Note: {{ form.edit_note}}
Can Create Customer: {{form.can_create}}
Is User: {{form.is_admin}}


    {{ form.csrf_token }}
<input type=submit value=Update>
</form>
{% endblock %}
