<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.017/css/hack.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/vendor/modernizr.js"></script>
    <script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
      <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
              <li class="name">
                  <h1><a href="#">SAM Customer Editor</a>	</h1>
              </li>
              <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar menu-icon">
                  <a href="#"><span>Menu</span></a>
              </li>
          </ul>
          <section class="top-bar-section">
 {% if g.user.is_authenticated()%}
 <ul class="left">
<li>
 <a href="{{ url_for('customerList') }}">Customer Edit</a>
</li>
<li class="divider" />
<li>
 <form style="margin: 0; padding: 0; display: block;" action="{{ url_for('search') }}" method="post" name="customer_search">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20) }}
 </li><li><input style="display: inline;" type="submit" value="Search"></li><li>
 </form>
</li>        </ul>
 <ul class="right">
     <li>
      <a href="{{ url_for('users') }}">Edit Users</a>
     </li><li class="divider" />
<li>
 <a href="{{ url_for('logout') }}">Logout</a>
</li>
</ul>
              {% endif %}
              {% if not g.user.is_authenticated()%}
              <!-- Right Nav Section -->
              <ul class="right">
                  <li class="active">
                      <a href="{{ url_for('register') }}">Register</a>
                  </li>
                   <li>
                  <a href="{{ url_for('login') }}">Login</a>
                  </li>
              </ul>

              <!-- Left Nav Section -->
              <ul class="left">
                  <li>
                  <a href="{{ url_for('customerList') }}">Customer View</a>
                  </li>
              </ul>
              {% endif %}
          </section>

      </nav>
      {% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer" align=right style="font-size:60%">
      {% block footer %}
      &copy; Copyright 2015 by Scott Harman SAM Limited
      {% endblock %}
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
