<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <script src="/static/js/vendor/modernizr.js"></script>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
      <div class="nav-collapse collapse">
          <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              {% if g.user.is_authenticated()%}
                  <li><a href="{{ url_for('customerList') }}">Customers</a></li>
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
              {% if not g.user.is_authenticated()%}
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                  <li><a href="{{ url_for('register') }}">Register</a></li>
              {% endif %}
          </ul>
      </div>
      {% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
