<html>
    <body>
        <form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>
            <p>Name:</p>
            <p><input type = 'text' size='30' name = 'name' placeholder = '{{item.name}}'></p>
            <p><input type = 'text' size='30' name = 'description' placeholder = '{{item.description}}'></p>
            <p><input type = 'text' size='30' name = 'price' placeholder = '{{item.price}}'></p>
            <p><input type = 'text' size='30' name = 'course' placeholder = '{{item.course}}'></p>
            <p><input type='submit' value='Edit'></p>
        </form>
        <a href= '{{url_for('restaurantMenu', restaurant_id= item.restaurant_id)}}'>Cancel</a>
    </body>
</html>