{% extends "header.html" %}

{% block content %}

    <form method="post" action="{{ url_for('addPark') }}">
        <h1>Add new Park</h1>
        <input type="text" name="name" placeholder="Park Name">
        <input type="text" name="lat" placeholder="latitude">
        <input type="text" name="lon" placeholder="longitude">
        <input type="textarea" name="description" placeholder="description">
        <input type="submit" value="Add">
        <a href="{{ url_for('parks') }}">Cancel</a>
    </form>

{% endblock %}