<!DOCTYPE html>
<html>
<head>
    <title>The Chisel Blog</title>

    <!-- Meta -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>

</head>
<body>
    <div class="wrapper">

        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/parks">Chisel Outdoors</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">
                  <ul class="nav navbar-nav navbar-right">

                    <li><a href="/search">Search</a></li>

                    {% if user.username %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    {% endif %}
                    
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </header>

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>