{% extends "header.html" %}

{% block content %}

  <!-- Load FB JS SDK -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1260967053936193',
        xfbml      : true,
        version    : 'v2.8'
      });
      FB.AppEvents.logPageView();
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  
    // Here we run a very simple test of the Graph API after login is
    // successful. See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log(access_token)
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        $.ajax({
          type: 'POST',
          url: '/fbconnect?state={{ state }}',
          processData: false,
          data: access_token,
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
              setTimeout(function(){
              window.location.href = "/parks";}, 4000);
            }
            else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
          }
        });
      });
    }
  </script>

  <button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
      <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
  </fb:login-button>


  <!-- GOOGLE PLUS SIGN IN BUTTON-->
  
      <div id="signInButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="398223476203-qhdn200rhnsfaq1pfda0rgngmtbtjun4.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>
  
  <!-- notify user of any changes -->
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
          {% for message in messages %}
              <li><strong>{{ message }}</strong></li>
          {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}

  <div id="result"></div>
  
    <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{state}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/parks";
             }, 4000);
            } 
            else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } 
            else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          }
        }); 
      } 
    }
    </script>

{% endblock %}