{% extends "header.html" %}

{% block content %}

    <h1>{{trail.name}}</h1>
    
    <!-- notify user of any changes -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    {% if user.user_id %}
        <a href="{{ url_for('deleteTrail', park_id=park.id, trail_id=trail.id) }}">Delete</a>
                <a href="{{ url_for('editTrail', park_id=park.id, trail_id=trail.id) }}">Edit</a>
    {% endif %}
    

{% endblock %}