<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

<h1>{{restaurant.name}}</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div style="position: fixed; right: 0; bottom: 0; min-height: 50px; min-width: 300px; background-color: #eff;">
	<ul> 
	{% for msg in messages %}
		<li>{{msg}}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% endwith %}
{% for i in items %}
<div>
<p>{{i.name}}</p>
<p>{{i.description}}</p>
<p> {{i.price}} </p>
<a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, MenuID = i.id) }}">Edit</a>
<a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}">Delete</a>
</div>
<br />



{% endfor %}
</body>

</html>