{% extends "all_base.html" %}

{% block content %}

<div class="row">
  {% if game_name %}
    <h2 class="rate-game-title">Add {{ game_name }}</h2>
  {% else %}
    <h2 class="rate-game-title">Add Game</h2>
  {% endif %}
<div class="row">
  <div class="col-xs-offset-1">
    <p class="add-game-explanation">Sorry, we don't have that game yet! Please add details here.</p>
  </div>
<div class="row">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <strong class="error important col-xs-offset-1"> {{message}} </strong>
      {% endfor %}
      </ul>
      <br>
    {% endif %}
  {% endwith %}
</div>
  </div>
</div>
<form action="{{ url_for('add_game') }}" method="POST">
  <div class="row">  
    <div class="col-md-offset-1 col-md-6 col-xs-10">
      <label>Name</label>
      <input class="text-input" type="text" name="name" maxlength="80" placeholder="Final Fantasy VII" value="{{ game_name }}">
    </div>
    <div class="col-md-4 col-xs-10">
      <label>Category</label>
      <input class="text-input" type="text" name="category" maxlength="40" placeholder="RPG" value="{{ category }}">
    </div>
  </div>
  {% if rating %}
    <input type="hidden" name="rating" value="{{ rating }}">
  {% else %}
    <div class="row">
      <div class="col-xs-2 col-md-offset-1">        
        <label>Rating</label>
        <input class="text-input" type="text" name="rating" placeholder="1 - 10" value="{{ rating }}">
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <label>Description</label>
      <textarea name="description">{{ description }}</textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <input class="button" type="submit" name="submit" value="Submit">  
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <input class="button" type="submit" name="submit" value="Cancel">        
    </div>
  </div>
</form>


{% endblock %}