<!DOCTYPE html>
<html>
<head>
  <title>Gamerater</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kelly+Slab" rel="stylesheet">
  <link href="http://weloveiconfonts.com/api/?family=zocial" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
</head>
<body class="container">
<div class="row">
  <a href="{{ url_for('gamerater_home') }}">
    <img class="col-md-offset-8 col-md-4 col-xs-offset-4 col-xs-8 img-responsive" src="{{ url_for('static', filename='img/logo.png') }}">
  </a>
</div>
<div class="row">
  <div class="col-md-offset-3 col-xs-4 col-md-3 center">
    {% if 'username' not in session %}
      <a class="header-link" href="{{ url_for('show_login') }}">Login</a>      
    {% else %}
      <a class="header-link" href="{{ url_for('disconnect') }}">Logout</a>
    {% endif %}
  </div>
  <div class="col-xs-4 col-md-3 center">
    <a class="header-link" href="{{ url_for('gamerater_home') }}">Newest Ratings</a>
  </div>
  <div class="col-xs-4 col-md-3 center">
    <a class="header-link" href="{{ url_for('gamerater_popular') }}">Most Popular Games</a>    
  </div>
</div>
<hr class="heading-rule">
<br>

  {% block content %}
  {% endblock %}

</body>
<br>
<footer>
  <div class="row">
    <hr class="heading-rule">
  </div>
  <div class="row">
    <p class="col-md-12 contact-me">Contact Paul at: </p>
  </div>
  <div class="row">
    <a class="zocial-gmail col-md-3 col-xs-6 social-links" href="mailto:paul.d.castillo@gmail.com"> Email</a>
    <a class="zocial-github col-md-3 col-xs-6 social-links" href="https://github.com/pauldcastillo">hub</a>
    <a class="zocial-facebook col-md-3 col-xs-6 social-links" href="https://www.facebook.com/paul.castillo.9843499"> Facebook</a>
    <a class="zocial-googleplus col-md-3 col-xs-6 social-links" href="https://plus.google.com/u/0/101131724289875077751"> Google+</a>
  </div>
</footer>
</html>