{% extends "layout.html" %}

{% block body %}

    <section id="main" style="width: 70%; margin: auto;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>Categories</h2>
                    <ul>
                        {% for category in all_categories %}
                            <li><a href="/catalog/{{ category[0] }}/items">{{ category[0] }}</a></li>
                        {% endfor %}
                        {% if session.logged_in %}
                            <a href="/add-category">Add category</a>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-lg-8">
                    <h2>{{ category }} items ({{ resno }} results)</h2>
                    <ul>
                        {% for item in items %}
                            <li><a href="/catalog/{{ item[1] }}/{{ item[0] }}">{{ item[0] }}</a></li>
                        {% endfor %}
                        {% if session.logged_in %}
                            <a href="/add-item">Add item</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}