{% extends "all_base.html" %}

{% block content %}

<div class="row">
  <h2>Recent updates</h2>
</div>
<br>
<div class="row">
  <table class="col-xs-offset-1 col-xs-10">
      <tr>
          <th>User</th>
          <th>Game</th>
          <th>Rating</th>
          <th>Updated</th>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul</a>
          </td>
          <td>
            <a href="/game/nioh">Nioh</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
      <tr class="center">
          <td>
            <a href="/user/paul">Paul Castillo</a>
          </td>
          <td>
            <a href="/game/nioh">Final Fantasy Tactics: War of the Lion</a>
          </td>
          <td>8</td>
          <td>9:46 p.m. 02/26/2017</td>
      </tr>
  </table>    
</div>
<br>
<hr class="col-xs-offset-1 col-xs-10">
<br>
<h2>All Users</h2>
<br>
<div class="user-small all-users col-md-4 col-xs-12">
  <div class="row">
    <div class="user-icon col-xs-2">
        <img class="img-responsive" src="{{ url_for('static', filename='img/zero.png') }}">
    </div>
    <div class="user-small-name">
      Username
    </div>
  </div>
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Favorite Game:
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">
      Final Fantasy Tactics: War of the Lion
    </div>
  </div>  
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Latest Game:          
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">      
      Nioh
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1">
      <a href="/Username">Check out more of this user's ratings</a>    
    </div>
  </div>
</div>
<div class="user-small all-users col-md-4 col-xs-12">
  <div class="row">
    <div class="user-icon col-xs-2">
        <img class="img-responsive" src="{{ url_for('static', filename='img/zero.png') }}">
    </div>
    <div class="user-small-name">
      Username
    </div>
  </div>
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Favorite Game:
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">
      Final Fantasy Tactics: War of the Lion
    </div>
  </div>  
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Latest Game:          
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">      
      Nioh
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1">
      <a href="/Username">Check out more of this user's ratings</a>    
    </div>
  </div>
</div>
<div class="user-small all-users col-md-4 col-xs-12">
  <div class="row">
    <div class="user-icon col-xs-2">
        <img class="img-responsive" src="{{ url_for('static', filename='img/zero.png') }}">
    </div>
    <div class="user-small-name">
      Username
    </div>
  </div>
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Favorite Game:
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">
      Final Fantasy Tactics: War of the Lion
    </div>
  </div>  
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Latest Game:          
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">      
      Nioh
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1">
      <a href="/Username">Check out more of this user's ratings</a>    
    </div>
  </div>
</div>
<div class="user-small all-users col-md-4 col-xs-12">
  <div class="row">
    <div class="user-icon col-xs-2">
        <img class="img-responsive" src="{{ url_for('static', filename='img/zero.png') }}">
    </div>
    <div class="user-small-name">
      Username
    </div>
  </div>
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Favorite Game:
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">
      Final Fantasy Tactics: War of the Lion
    </div>
  </div>  
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Latest Game:          
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">      
      Nioh
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1">
      <a href="/Username">Check out more of this user's ratings</a>    
    </div>
  </div>
</div>
<div class="user-small all-users col-md-4 col-xs-12">
  <div class="row">
    <div class="user-icon col-xs-2">
        <img class="img-responsive" src="{{ url_for('static', filename='img/zero.png') }}">
    </div>
    <div class="user-small-name">
      Username
    </div>
  </div>
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Favorite Game:
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">
      Final Fantasy Tactics: War of the Lion
    </div>
  </div>  
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Latest Game:          
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">      
      Nioh
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1">
      <a href="/Username">Check out more of this user's ratings</a>    
    </div>
  </div>
</div>
<div class="user-small all-users col-sm-4 col-xs-12">
  <div class="row">
    <div class="user-icon col-xs-2">
        <img class="img-responsive" src="{{ url_for('static', filename='img/zero.png') }}">
    </div>
    <div class="user-small-name">
      Username
    </div>
  </div>
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Favorite Game:
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">
      Mass Effect 3
    </div>
  </div>  
  <div class="row">
    <div class="user-small-head col-xs-offset-1">
      Latest Game:          
    </div>
  </div>
  <div class="row">
    <div class="user-small-content col-xs-offset-2">      
      Nioh
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1">
      <a href="/Username">Check out more of this user's ratings</a>    
    </div>
  </div>
</div>


{% endblock %}