<div class="row">
<div class="col-md-offset-1 col-md-10 col-xs-12">    
  <div class="row">
    <h2>{{ game.name }}</h2> 
  </div>
  <div class="row">
    <p class="col-xs-3 favorite-game-title favorite-game-stat">Average Rating</p><p class="favorite-game-data col-xs-1">{{ game.avg_rating }}</p>
    <p class="col-md-2 col-xs-3 favorite-game-title favorite-game-stat">Category</p><p class="favorite-game-data col-xs-2">{{ game.category }}</p>
    {% if 'username' in session %}
      <a class="col-md-3 col-xs-offset-1 col-xs-6" href="{{ url_for('rate_game', game_name = game.name) }}">Rate This Game</a>
    {% endif %}
  </div>
  <div class="row">
    <pre>{{ game.description }}</pre>
  </div>
</div>
</div>