{% extends "all_base.html" %}

{% block content %}

{% include 'game_details.html' %}
<br>
<hr class="col-xs-offset-2 col-xs-8">
<br>
<div class="row">
  <div class="row">
    <p class="col-md-offset-1 col-xs-8 favorite-game user-all-games-title">Users Who Have Rated This Game</p>
  </div>
  <div class="row">
    <table class="col-xs-offset-1 col-xs-10">
      <tr>
        <th>User</th>
        <th>Rating</th>
      </tr>
      <tr>
        <td>
          <a href="{{ url_for('user_info', user_id = 1) }}">Paul</a>
        </td>
        <td>9.5</td>
      </tr>
      <tr>
        <td>Katrina</td>
        <td>9.5</td>
      </tr>
      <tr>
        <td>Paul</td>
        <td>8.5</td>
      </tr>
      <tr>
        <td>Katrina</td>
        <td>8.5</td>
      </tr>
    </table>
  </div>
</div>


{% endblock %}