{% extends "layout.html" %}

{% block body %}

    <section id="main" style="width: 70%; margin: auto;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{ item[0] }}</h2>
                    <p>Description: {{ item[2] }}</p>
                    {% if session.logged_in %}
                        <a href="/edit">Edit item</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}