<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script src="/static/scripts.js"></script>
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid navbar-inner">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Catalog App</a>
      </div>
      {% if not is_logged_in %}
        <a href="{{url_for('showLogin')}}">
          <button class="btn btn-primary login-button">Login</button>
        </a>
      {% else %}
        <a href="{{url_for('gdisconnect')}}">
          <button class="btn btn-primary login-button">Logout</button>
        </a>
      {% endif %}
    </div>
  </nav>
  <main class="main-content">
    {% block content %}{% endblock %}
  </main>
</body>
</html>