{% extends "layout.html" %}
{% block body %}
    <section id="main" >
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>Login</h2>
                    <br>
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}