<html>
    <head>
        <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
            </script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
            </script>
        <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    </head>
    
    <body>
        <!-- GOOGLE PLUS SIGN IN BUTTON-->
        <div id="signInButton">
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="269222211523-0je4g71c0f0hechdm3ss56tt5a9ib7uv.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div>
        <div id="result"></div>
        <!--END GOOGLE PLUS SIGN IN BUTTON -->
        
        <script>
            function signInCallback(authResult) {
                if (authResult['code']) {
                    // Hide the sign-in button now that the user is authorized
                    $('#signinButton').attr('style', 'display: none');
                    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main page
                    $.ajax({
                           type: 'POST',
                           url: '/gconnect?state={{STATE}}',
                           processData: false,
                           data: authResult['code'],
                           contentType: 'application/octet-stream; charset=utf-8',
                           success: function(result) {
                           // Handle or verify the server response if necessary.
                           if (result) {
                           $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                           setTimeout(function() {
                                      window.location.href = "/";
                                      }, 4000);
                           
                           } else if (authResult['error']) {
                           console.log('There was an error: ' + authResult['error']);
                           } else {
                           $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                           }
                           }
                           
                           }); } }
        </script>
    </body>
</html>
