{% extends "layout.html" %}
{% block content %}
<div class="row">
  {% include 'category-list.html' %}
  <div class="col-sm-6">
    <h2 class="h3">Recently Added Items</h2>
      <button class="btn btn-sm btn-primary add-item-button">Add an Item</button>
      <ul class="latest-items">
        <li>Item 1 <span class="latest-item-category">(Category)</span></li>
        <li>Item 2 <span class="latest-item-category">(Category)</span></li>
        <li>Item 3 <span class="latest-item-category">(Category)</span></li>
      </ul>
  </div>
</div>
{% endblock %}
