{% extends "layout.html" %}
{% block content %}
<div class="row">
  {% include 'category-list.html' %}
  <div class="col-sm-6">
    <h2 class="h3">Recently Added Items</h2>
      {% if user_id > 0 %}
        <a href="/item/new">
          <button class="btn btn-sm btn-primary add-item-button">Add an Item</button>
        </a>
      {% endif %}
      <ul class="item-list">
        {% for item in items %}
          {% include 'item-list-item.html' %}
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
