{% extends "all_base.html" %}

{% block content %}

<div class="row">
  <h2>Most Popular</h2>
</div>
<br>
<div class="row">
<div class="col-md-offset-1 col-md-10 col-xs-12">    
  <div class="row">
    <p class="col-xs-10 favorite-game">Final Fantasy Tactics: War of the Lions</p>
  </div>
  <div class="row">
    <div class="row">
    <p class="col-xs-3 favorite-game-title favorite-game-stat">Average Rating</p><p class="favorite-game-data col-xs-1">9.5</p>
    <p class="col-md-2 col-xs-3 favorite-game-title favorite-game-stat">Category</p><p class="favorite-game-data col-xs-4">Strategy RPG</p>
  </div>
  <div class="row">
    <pre>Final Fantasy Tactics is set in a fictional medieval-inspired kingdom called Ivalice created by Yasumi Matsuno. The game's story follows Ramza Beoulve, a highborn cadet who finds himself thrust into the middle of an intricate military conflict known as The Lion War, where two opposing noble factions are coveting the throne of the kingdom. As the story progresses, Ramza and his allies discover a sinister plot behind the war.</pre>
    <a class="user-read-more" href="/gamerater/game/1">Read more</a>
  </div>
</div>
</div>
</div>
<br>
<hr class="col-xs-offset-2 col-xs-8">
<br>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-xs-12">    
    <div class="row">
      <p class="col-xs-10 favorite-game">Final Fantasy Tactics: War of the Lions</p>
    </div>
    <div class="row">
      <div class="row">
        <p class="col-xs-3 favorite-game-title favorite-game-stat">Average Rating</p><p class="favorite-game-data col-xs-1">9.5</p>
        <p class="col-md-2 col-xs-3 favorite-game-title favorite-game-stat">Category</p><p class="favorite-game-data col-xs-4">Strategy RPG</p>
      </div>
    <div class="row">
      <pre>Final Fantasy Tactics is set in a fictional medieval-inspired kingdom called Ivalice created by Yasumi Matsuno. The game's story follows Ramza Beoulve, a highborn cadet who finds himself thrust into the middle of an intricate military conflict known as The Lion War, where two opposing noble factions are coveting the throne of the kingdom. As the story progresses, Ramza and his allies discover a sinister plot behind the war.</pre>
      <a class="user-read-more" href="/gamerater/game/1">Read more</a>
    </div>
    </div>
  </div>
</div>
<br>
<hr class="col-xs-offset-2 col-xs-8">
<br>

<div class="row">
  <div class="col-md-offset-1 col-md-10 col-xs-12">    
    <div class="row">
      <p class="col-xs-10 favorite-game">Final Fantasy Tactics: War of the Lions</p>
    </div>
    <div class="row">
      <div class="row">
        <p class="col-xs-3 favorite-game-title favorite-game-stat">Average Rating</p><p class="favorite-game-data col-xs-1">9.5</p>
        <p class="col-md-2 col-xs-3 favorite-game-title favorite-game-stat">Category</p><p class="favorite-game-data col-xs-4">Strategy RPG</p>
      </div>
    <div class="row">
      <pre>Final Fantasy Tactics is set in a fictional medieval-inspired kingdom called Ivalice created by Yasumi Matsuno. The game's story follows Ramza Beoulve, a highborn cadet who finds himself thrust into the middle of an intricate military conflict known as The Lion War, where two opposing noble factions are coveting the throne of the kingdom. As the story progresses, Ramza and his allies discover a sinister plot behind the war.</pre>
      <a class="user-read-more" href="/gamerater/game/1">Read more</a>
    </div>
    </div>
  </div>
</div>
<br>
<hr class="col-xs-offset-2 col-xs-8">
<br>

<div class="row">
  <div class="col-md-offset-1 col-md-10 col-xs-12">    
    <div class="row">
      <p class="col-xs-10 favorite-game">Final Fantasy Tactics: War of the Lions</p>
    </div>
    <div class="row">
      <div class="row">
        <p class="col-xs-3 favorite-game-title favorite-game-stat">Average Rating</p><p class="favorite-game-data col-xs-1">9.5</p>
        <p class="col-md-2 col-xs-3 favorite-game-title favorite-game-stat">Category</p><p class="favorite-game-data col-xs-4">Strategy RPG</p>
      </div>
    <div class="row">
      <pre>Final Fantasy Tactics is set in a fictional medieval-inspired kingdom called Ivalice created by Yasumi Matsuno. The game's story follows Ramza Beoulve, a highborn cadet who finds himself thrust into the middle of an intricate military conflict known as The Lion War, where two opposing noble factions are coveting the throne of the kingdom. As the story progresses, Ramza and his allies discover a sinister plot behind the war.</pre>
      <a class="user-read-more" href="/gamerater/game/1">Read more</a>
    </div>
    </div>
  </div>
</div>
<br>
<hr class="col-xs-offset-2 col-xs-8">
<br>

<div class="row">
  <div class="col-md-offset-1 col-md-10 col-xs-12">    
    <div class="row">
      <p class="col-xs-10 favorite-game">Final Fantasy Tactics: War of the Lions</p>
    </div>
    <div class="row">
      <div class="row">
        <p class="col-xs-3 favorite-game-title favorite-game-stat">Average Rating</p><p class="favorite-game-data col-xs-1">9.5</p>
        <p class="col-md-2 col-xs-3 favorite-game-title favorite-game-stat">Category</p><p class="favorite-game-data col-xs-4">Strategy RPG</p>
      </div>
    <div class="row">
      <pre>Final Fantasy Tactics is set in a fictional medieval-inspired kingdom called Ivalice created by Yasumi Matsuno. The game's story follows Ramza Beoulve, a highborn cadet who finds himself thrust into the middle of an intricate military conflict known as The Lion War, where two opposing noble factions are coveting the throne of the kingdom. As the story progresses, Ramza and his allies discover a sinister plot behind the war.</pre>
      <a class="user-read-more" href="/gamerater/game/1">Read more</a>
    </div>
    </div>
  </div>
</div>



{% endblock %}