{% extends "all_base.html" %}

{% block content %}

<div class="row">
  <div class="user-title">
    <div class="col-md-1 col-xs-4 user-page-icon">
      <img class="img-responsive" src="{{ url_for('static', filename='img/zero.png') }}">
    </div>
    <h2 class="user-page-name col-xs-6">Paul Castillo</h2>
  </div>
</div>
<div class="row">
<div class="col-md-offset-1 col-md-10 col-xs-12">    
  <div class="row">
    <p class="col-xs-6 col-md-4 favorite-game favorite-game-title">Favorite Game</p>
    <p class="col-xs-6 col-md-8 favorite-game favorite-game-border">Final Fantasy Tactics: War of the Lion</p>
  </div>
  <div class="row">
    <p class="col-xs-2 col-md-offset-1 favorite-game-title favorite-game-stat">Rating</p><p class="favorite-game-data col-xs-1">9.5</p>
    <p class="col-md-2 col-xs-3 favorite-game-title favorite-game-stat">Category</p><p class="favorite-game-data col-xs-4">Strategy RPG</p>
  </div>
  <div class="row">
    <pre>Final Fantasy Tactics is set in a fictional medieval-inspired kingdom called Ivalice created by Yasumi Matsuno. The game's story follows Ramza Beoulve, a highborn cadet who finds himself thrust into the middle of an intricate military conflict known as The Lion War, where two opposing noble factions are coveting the throne of the kingdom. As the story progresses, Ramza and his allies discover a sinister plot behind the war.</pre>
    <a class="user-read-more" href="/gamerater/game/1">Read more</a>
  </div>
</div>
</div>
<br>
<hr class="col-xs-offset-2 col-xs-6">
<br>
<div class="row">
  <div class="row">
    <p class="col-md-4 col-md-offset-1 col-xs-8 favorite-game user-all-games-title">All Games</p>
  </div>
  <div class="row">
    <table class="col-xs-offset-1 col-xs-10">
      <tr>
        <th>Game</th>
        <th>Category</th>
        <th>Rating</th>
      </tr>
      <tr>
        <td>Nioh</td>
        <td>Action</td>
        <td>7.5</td>
      </tr>
      <tr>
        <td>Vagrant Story</td>
        <td>Action/ RPG</td>
        <td>9.5</td>
      </tr>
      <tr>
        <td>Dark Souls III</td>
        <td>Action</td>
        <td>8.5</td>
      </tr>
      <tr>
        <td>Mass Effect 3</td>
        <td>Shooter RPG</td>
        <td>8.5</td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}