{% extends 'base.html' %}

{% block body %}
<div class="header">
    <h1>Category Creation</h1>
    <h2>It is place where you can create new catalog</h2>
</div>

<div class="content">
	<form class="pure-form pure-form-aligned" action="{{url_for('category_store')}}" method="post">
	    <fieldset>
	    	{{form.hidden_tag()}}
	        <div class="pure-control-group">
	            <label for="name">Name</label>
	            {{form.name()}}
	        </div>

	        <div class="pure-control-group">
	            <label for="name">Description</label>
	            {{form.description()}}
	        </div>

	        <div class="pure-controls">
	            <button type="submit" class="pure-button pure-button-primary">Submit</button>
	        </div>
	    </fieldset>
	</form>
</div>
{% endblock %}
