* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: auto;
    padding: 0;
}

h1 {
    text-align: right;
    font-size: 60pt;
    padding: 1%;
    padding-bottom: 0.1%;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 8.333%;
    font-family: 'Kelly Slab', cursive;
}

h2 {
    color: black;
    margin: 0.1%;
    font-weight: bold;
    font-size: 36pt;
    font-family: 'Kelly Slab', cursive;
}

textarea {
  width: 100%;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input {
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
    margin:10px;
    width: 100%;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

hr {
    height: 3px;
    background: #333;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    min-width: 46px;
    min-height: 46px;
    font-color: black;
}

pre {
    white-space: pre-wrap;
}

table {
    border: 3px solid black;
}

th {
    border: 2px solid black;
    background-color: gray;
    font-weight: bold;
    font-size: 20px;
}

td {
    border: 1px solid black;
    font-size: 16px;
}

.icon {
    margin: 1%;
    max-height: 100px;
    max-width: 200px;
}

.heading-rule {
    height: 2px;
    color: darkgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.subtitle-heading {
    height: 1px;
    margin-bottom: 20px;
}

.heading-rule-bot {
    margin-bottom: 20px;
}

.error {
    color: red;
    font-weight: bold;
}

.important {
    font-size: 30px;
}

.container {
    max-width: 960px;
}

.item-name {
    font-size: 14pt;
}

.header-link {
    font-size: 12pt;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.description {
    font-size: 10pt;
    max-width: 960px;
    max-height: 500px;
    margin-bottom: 20px;
}

* {
    font-family: "Cabin", sans-serif;
}

.button {
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    border-style: outset;
    border-width: medium;
    width: 100%;
    background: darkgray;
    font-color: black;
}

.center {
    text-align: center;
}

.comments-heading {
    font-size: 20px;
    font-weight: bold;
    border-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 10px;
}

.user-small {
    margin-bottom: 20px;
    border: black;
    border-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    padding-right: 5px;
}

.all-users {
    height: 250px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.user-small-name {
    font-size: 26pt;
    font-weight: bold;
    margin-left: 10px;
}

.user-icon {
    max-height: 46px;
    max-width: 46px;
    padding: 3px;
}

.user-small-head {
    font-size: 18pt;
    font-weight: bold;
}

.user-small-content {
    font-size: 16pt;
    overflow: hidden;
    max-height: 60px;
    padding-right: 15px;
}

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.social-links {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.contact-me {
    font-size: 18px;
    text-align: center;
    margin: auto;
}