.navbar-inner,
.main-content {
  margin: 0 auto;
  max-width: 960px;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin: 0 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.main-content {
  padding: 0 15px;
}