
/* General Layout */

.navbar-inner,
.main-content {
  margin: 0 auto;
  max-width: 960px;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin: 0 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.login-button {
  float: right;
  margin-top:7px;
}

.main-content {
  padding: 0 15px;
}

/* Main Page */

.latest-item-category {
  color: #999999; /* copied from flatly */
}

.add-item-button {
  margin-bottom: 10px;
}