{% extends 'base_form.html' %}

{% block header_div %}
    <h1>{{item.name}}</h1>
    <form class="pure-form pure-form-aligned" action="{{url_for('item_delete', category_name=category_name, item_name=item.name)}}" method="post" onsubmit="return confirm('Do you really want to delete the item?');">
        {{delete_form.hidden_tag()}}
        <button type="submit" class="pure-button pure-button-error">Delete</button>
    </form>
{% endblock %}

{% block form %}
    <form class="pure-form pure-form-aligned" 
            action="{{url_for('item_update', category_name=category_name, item_name=item.name)}}" 
            method="POST"
            enctype="multipart/form-data">
        <fieldset>
            {{form.hidden_tag()}}
            <div class="pure-control-group">
                <label for="name">Name</label>
                {{form.name()}}
            </div>

            <div class="pure-control-group">
                <label for="name">Description</label>
                {{form.description()}}
            </div>

            <div class="pure-control-group">
                <label for="name">Image</label>
                {{form.image()}}
            </div>

            <div class="pure-control-group">
                <label for="name">Category</label>
                {{form.category_id()}}
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
