<!DOCTYPE html>
<html>
<head>
	<title>Delete Menu Item</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="main">		
		<div class="header">
			<h1>Are you sure you want to delete "{{deleteItemMenu.name}}" menu?</h1>
		</div>	

	<form method="POST" action="{{url_for('deleteMenuItem',restaurant_id=restaurant_id,menu_id=menu_id)}}">
		<br>
		<input type="submit" value="Delete"></input>
		<a href="{{url_for('restaurantMenu',restaurant_id=restaurant_id)}}">Cancel</a>
	</form>
	</div>
</body>
</html>