<!DOCTYPE html>
<html>
<head>
	<title>Edit Restaurant</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="main">		
		<div class="header">
			<h1>Edit Restaurant</h1>
		</div>	
		<form method="POST" action="{{url_for('editRestaurant',restaurant_id=restaurant_id)}}">
			<br>
			<p><label>Name:</label> <input type="text" name="restaurantname" placeholder="{{editedRestaurant.name}}"></input></p>
			<input type="submit" value="Update"></input>
			<a href="{{url_for('restaurantList')}}">Cancel</a>
		</form>
	</div>	
</body>
</html>