{% extends 'base.html' %}

{% block body %}
<div class="header">
    <h1>Welcome to Vanadium23 Catalog Project</h1>
    <h2>List of recently added items</h2>
</div>

<div class="content">
    <div class="pure-g">
        {% for i in items %}
            <div class="pure-u card">
                <a href="{{url_for('item_view', category_name=i.category.name,item_name=i.name)}}">
                    <img class="pure-img" src="{{static('uploads/' + i.image_name)}}" />
                    <h3 class="text-center">{{i.name}}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
