<!DOCTYPE html>
<html lang="en">
<body>
<h1>{{restaurant.name}}</h1>
<h3>
    <a href="{{ url_for('newMenuItem', restaurant_id = restaurant.id) }}">
        Make new Menu
    </a>
</h3>

<!--indicating start of loop-->
{% for item in items %}

<div>
    <p>{{item.name}}</p>
    <p>{{item.description}}</p>
    <p> {{item.price}} </p>
        <a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id = item.id)}}">
            Edit
        </a>
    <br>
        <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id = item.id) }}">
            Delete
        </a>
    <br>
</div>

{% endfor %}
<!--indicating end of loop-->

</body>
</html>