<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Restaurants </title>
</head>
<body>
<div style="margin: 100px auto; text-align: center;">

    <div class="wrapper" style="font-size: 30px;">
        Here are the restaurants available to you:

    </div>
    <div style="margin-top: 20px;">

        {%for restaurant in restaurants%}

        <a style="font-size: 20px; text-decoration: none; margin: 30px;" href="{{url_for('show_menu', restaurant_id = restaurant.id)}}"> {{restaurant.name}} </a> <br>
        <a href="{{url_for('edit_restaurant', restaurant_id=restaurant.id)}}"> Edit </a> <br>
        <a href="{{url_for('delete_restaurant', restaurant_id=restaurant.id)}}"> Delete </a> <br><br><br>

        {%endfor%}

    </div>
    <div style="font-size: 25px; margin-top: 50px;">

        <a href="{{url_for('new_restaurant')}}" style="text-decoration: none; margin-top: 300px; text-align: left;">
            You can also Create  a new Restaurant Here. </a>

    </div>

</div>
</body>
</html>