<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Restaurant App </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="wrapper">
    <h1> Welcome to Restaurant </h1>
    <h3> Below are the restaurants available:</h3>

    {% for restaurant in restaurants %}

    <div>
        <a href="{{ url_for('restaurantMenu', restaurant_id = restaurant.id) }}"> {{restaurant.name}}</a>
        <br>
    </div>

    {% endfor%}
</div>
</body>
</html>